*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
logs.zip
runs.json
clean_jobs.json
job_log.txt
jobs.json
